---
import cc from "classcat";
import type { Image } from "~/db.js";
import { buildRenderableImage } from "./utils.js";
import { getImageUrl } from "~/photo.js";

type Props = {
  image: Pick<Image, "id" | "width" | "height">;
  alt?: string | undefined;
  title?: string | undefined;
};

const { image, alt, title } = Astro.props;

const { aspectRatio, width, height, src, srcSet, sizes } =
  buildRenderableImage(image);
---

<div style={{ flex: aspectRatio }} class="main">
  <a
    class={cc(["link", "photo-swipe-gallery-item"])}
    href={src}
    data-pswp-width={width}
    data-pswp-height={height}
    target="_blank"
  >
    <img
      title={title}
      class="img lazyload"
      width={width}
      height={height}
      src={getImageUrl(image.id, 16)}
      data-src={src}
      data-srcset={srcSet.join(", ")}
      data-sizes="auto"
    />
  </a>
  {alt && <div class="caption">{alt}</div>}
</div>
<style>
  .main {
    position: relative;
    margin-bottom: 8px;
  }

  .link {
    display: block;
    background: rgba(255, 255, 255, 0.1);

    border-radius: 4px;
    overflow: hidden;

    image-rendering: pixelated;
    background-size: cover;
  }

  .img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    background-size: cover;
    image-rendering: initial;

    filter: blur(20px);
    transition: filter 400ms;
  }
  .img.lazyloaded {
    filter: blur(0);
  }

  .caption {
    text-align: center;
    padding: 0.8rem 0 1rem;
    font-style: italic;
    line-height: 1.5;
  }
</style>
